.nav-container {
  width: 100%;
  color: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
  padding: 4px, 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.logo {
  width: 75px;
  margin: 5px 20px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 5px 20px;
  font-size: 16px;
}
.nav-button {
  background-color: rgba(255, 255, 255, 0.8); /* Opaque white background */
  color: #760c0c; /* Dark text color for contrast */
  border: 2px solid #ccc; /* Light grey border */
  border-radius: 10px; /* Rounded edges */
  padding: 8px 16px; /* Padding inside the button */
  font-size: 16px; /* Font size for text */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
  cursor: pointer; /* Pointer cursor on hover */
}

.nav-button:hover {
  background-color: rgb(255, 255, 255); /* Fully opaque white on hover */
  color: rgb(78, 11, 11); /* Change text color to white on hover */
  transform: scale(1.2);
}

.logo-wrapper {
  display: flex; /* Enable Flexbox for horizontal alignment */
  align-items: center; /* Vertically align items to the center (optional) */
}

.contact-item {
  position: relative;
}

.contact-item .btn {
  position: relative;
}

.contact-numbers {
  display: none;
  position: absolute;
  top: 99%;
  left: 0;
  width: 270px;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.contact-item:hover .contact-numbers {
  display: block;
  color: #333; /* Ensures text color contrasts with background */
}

.program{
  position: relative;
}

.program .btn {
  position: relative;
}

.programs {
  display: none;
  position: absolute;
  top: 99%;
  left: 0;
  width: 270px;
  background: rgba(255, 255, 255, 0.8);
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.program:hover .programs,
.programs:hover {
  display: block;
  color: #333; /* Ensures text color contrasts with background */
  cursor: pointer;
}

.programs p:hover {
  background-color: #333; /* Change background color on hover */
  color: #ffffff; /* Change text color on hover */
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
  border-radius: 15px;
  padding: 10px;
}
