
.help-container {
  position: absolute;

  margin-top: 100px;
    padding: 20px;
    max-width: 2000px;
    margin-left: 100px;
    font-family: Arial, sans-serif;
    background-color:  rgba(214, 219, 225, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .help-container h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }
  
  .help-container p {
    font-size: 1em;
    line-height: 1.6;
    color: #555;
  }
  
  .help-section {
    margin-bottom: 20px;
  }
  
  .help-section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #444;
  }
  
  .help-section p {
    margin-bottom: 10px;
  }
  