.profile{
    flex: 1;
}

.profile-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-header .header-title{
    color:#c1cff6;
}

.edit{
    background: #c1cff6;
    padding: 12px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit .icon{
    font-size: 20px;
    transition: 0.5s ease-in-out;
}

.user--profile{
    height: 85%;
    margin-top: 2rem;
    background: #c1cff6;
    background: rgba(255, 255, 255, 0); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.user--detail{
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.user--detail img{
    background-color: #fff;

    border-radius: 40%;
    width: 150px;
}

.user--detail .username{
    padding-top: 10px;
    color: #c1cff6;

}

.user-info{
    
    background: rgba(255, 255, 255, 0); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    
    flex: 1;
    border-radius: 10px;
    padding: 10px;
    display:flex;
    flex-direction: column;
    gap: 5px;
}

.info{
    background: #a9b6d7;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.info--detail{
    display: flex;
    gap: 20px;
    align-items: center;
}

.info--cover{
    background: #f3f1f1;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;

}

.profession{
    padding-top: 1px;
    color: #ab8080;
}
