body {
  background: #d1d5db;
}

.height {
  height: 100vh;
}

.form {
  margin-bottom: 10px;
  margin-top: 50px;
  position: relative;
}

.form .fa-search {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #9ca3af;
}

.form span {
  position: absolute;
  right: 17px;
  top: 13px;
  padding: 2px;
  border-left: 1px solid #d1d5db;
}

.left-pan {
  padding-left: 7px;
}

.right-pan {
  padding-left: 10px;
}

.dataResult {
  position: absolute;
  z-index: 1;
  width: 25%;
  background-color: white; /* Set the background color to white */
  border: 1px solid #ccc;
  border-top: none;
}

.dataResult .list {
  padding: 10px;
  cursor: pointer;
  color: black; /* Set the text color to black */
}

.dataResult .list:hover {
  background-color: #f1f1f1; /* Add hover effect */
}

