.container-fluid {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(84, 84, 92, 0.7)),url('../../assets/scholarship.jpg');
  background-size: cover;
  color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detailed-view-container {
  color: #b73b0a;
  background-color: #333;
  min-height: 100vh;
  padding: 20px;
}

.container-card {
  background: rgba(255, 255, 255, 0.5); 
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px); 
  position: absolute;
  top: 130px;
  margin-left: 40px;
  margin-right: 500px;
  padding: 20px;
  
  border-radius: 8px;
}

.container-card p{
  color:#2b1313;
  font-size: 20px;
}

.header-details {
  color: #fff;
  margin-bottom: 20px;
}

.details-section {
  color: #fff;
  margin-bottom: 20px;
}

.scraped-data-section {
  color: #fff;
  margin-bottom: 20px;
}

/* .custom-link {
  color: #007bff;
  text-decoration: none;
} */

.custom-link:hover {
  text-decoration: underline;
}

.add-to-list-btn {
  margin-top: 20px;
}

.ashol-data{
  font-size: 20px;
  color: #ffffff;
}

.visit-site-btn {
  margin-top: 10px;
}

.add-to-list-btn {
  margin-top: 10px;
  margin-left: 400px;
}
