.custom-link {
  display: inline-block;
  padding: 10px 20px;
  border: none; /* Blue border */
  border-radius: 10px;
  text-decoration: none;
  color: white; /* Blue text to match the border */
  background-color: #229ec4; /* Transparent background by default */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for background and text color */
}

.add-to-list{
  display: inline-block;
  padding: 10px 20px;
  border: none; /* Blue border */
  border-radius: 10px;
  text-decoration: none;
  color: white; /* Blue text to match the border */
  background-color: #229ec4; /* Transparent background by default */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for background and text color */  
}
.add-to-list:hover{
  background-color: #add8e6; /* Light blue background on hover */
  color: #000; /* Black text on hover */
}

.custom-link:hover {
  background-color: #add8e6; /* Light blue background on hover */
  color: #000; /* Black text on hover */
}
.header-details {
  margin-top: 50px; /* Adjust this value to move the heading more or less */
}

.container-fluid {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(17, 17, 21, 0.7), rgba(17, 17, 21, 0.7)),
    url("../../assets/detail.jpg");

  background-size: cover;
  background-position-x: 40%;
  background-position-y: 60%;
  color: white;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center; 
}

.container-card{
  
  
  position: center;

}

