.container-login{
    width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(17, 17, 21, 0.7), rgba(17, 17, 21, 0.7)),
    url("../../assets/login.jpg");

  background-size: cover;
  background-position-x: 0%;
  background-position-y: 60%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signUpLabel{
  margin-left: 5px;
  color: rgb(0, 231, 119);
}