.hero-container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(17, 17, 21, 0.7), rgba(17, 17, 21, 0.7)),
    url("../../assets/bg.jpg");
  background-size: cover;
  background-position-x: 0%;
  background-position-y: 60%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Ensure positioning context for child elements */
}

.scholarships {
  position: absolute;
  top: 100px;
  left: 30px;
}

.directory-button1{
  position: absolute;
  top: 90px;
  left: 20px;
  display: block;
  width: 230px;
  height: 215px;
  /* margin-bottom: 20px; */
  font-size: 18px;
  font-weight: bold;
  color: white;
  background: linear-gradient(rgba(117, 117, 140, 0.7), rgba(17, 17, 21, 0.7)),
    url("../../assets/usa.gif");
    background-size: cover;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

.directory-button1:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.directory-button2{
  background: linear-gradient(rgba(164, 163, 163, 0.7), rgba(65, 62, 62, 0.7)),
    url("../../assets/Aus.gif");
    background-size: cover;
  position: absolute;
  top: 90px;
  left: 260px;
  display: block;
  width: 210px;
  height: 170px;
  /* margin-bottom: 20px; */
  font-size: 18px;
  font-weight: bold;
  color: white;
  
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

.directory-button2:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.hero-text {
  position: absolute;
  top: 220px;
  left: 700px;
}

.directory-button3{
  position: absolute;
  top: 330px;
  left: 20px;
  display: block;
  width: 130px;
  height: 250px;
  /* margin-bottom: 20px; */
  font-size: 18px;
  font-weight: bold;
  color: white;
  background: linear-gradient(rgba(117, 117, 140, 0.7), rgba(17, 17, 21, 0.7)),
    url("../../assets/germany.gif");
    background-size: cover;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

.directory-button3:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

.directory-button4{
  position: absolute;
  top: 330px;
  left: 165px;
  display: block;
  width: 160px;
  height: 250px;
  /* margin-bottom: 20px; */
  font-size: 18px;
  font-weight: bold;
  color: white;
  background: linear-gradient(rgba(117, 117, 140, 0.7), rgba(17, 17, 21, 0.7)),
    url("../../assets/canada.gif");
    background-size: cover;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

.directory-button4:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

.directory-button5{
  position: absolute;
  top: 280px;
  left: 340px;
  display: block;
  width: 130px;
  height: 300px;
  /* margin-bottom: 20px; */
  font-size: 18px;
  font-weight: bold;
  color: white;
  background: linear-gradient(rgba(117, 117, 140, 0.7), rgba(17, 17, 21, 0.7)),
    url("../../assets/japan.gif");
    background-size: cover;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

.directory-button5:hover {
  transform: scale(1.1);
}

.schol-title{
  padding-left: 55px;
  padding-top: 40px;
}