.search-results-table {
    margin-top: 30px; /* Adjust as needed */
  }
  
  .search-results-table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .search-results-table th, .search-results-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .search-results-table th {
    background-color: #e0e0e0; /* Changed to a light gray */
    color: #000000;
  }
  
  .search-results-table tbody tr:hover {
    background-color: rgba(242, 242, 242, 0.6); /* Light gray with increased opacity */
    color:#000000;
  }
  
  .search-results-table button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .search-results-table button:hover {
    background-color: #0056b3;
  }
  